@import "styles/settings/_settings";
.header {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	padding-left: 80px;
	padding-right: 8px;
	width: 100vw;
	height: 80px;
	z-index: 2;
	overflow: hidden;
	isolation: isolate;
}
