@import 'styles/settings/_settings';

.title_container {
	position: relative;
	isolation: isolate;
	margin: 2rem 0;
}

.title,
.title_overlay {
	font-family: $font-family-default;
	font-size: 2rem;
	font-weight: 700;
}
.title {
	font-size: 5rem;
	max-width: 16ch;
	line-height: 1.1;
}
.title[data-overlay] {
	position: absolute;
	top: 0;
	left: 0px;
	color: $color-green;
	z-index: 2;
	opacity: 0.3;
}
.active {
	text-decoration: underline;
	mix-blend-mode: color-burn;
}
