@import "styles/settings/_settings";
// Backgrounds
.background,
.socials_background {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;
	z-index: 2;
	pointer-events: none;
	filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}
.background {
	left: 0;
}
.socials_background {
	right: 0;
}

// List wrappers
.sidebar_ul,
.socials_ul {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding-top: 15vh;
	z-index: 2;
	width: 100vw;
	gap: 8px;
}
.sidebar_ul {
	.nav_ul {
		gap: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.theme_ul {
		position: relative;
		// Overriding the menu_item component styling
		> * > * > * {
			font-size: 1rem !important;
		}
	}
}

@media (min-width: 900px) {
	.background,
	.socials_background {
		width: 350px;
	}
	.sidebar_ul,
	.socials_ul {
		width: 350px;
	}
}

// Colours
[data-theme="light"] {
	.socials_background,
	.background {
		background: #f6f6f6;
	}
	.theme_ul {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		> * > * > * {
			color: $color-light-text-white !important;
		}
	}
}
[data-theme="dark"] {
	.background,
	.socials_background {
		background: $color-dark-background;
		.ul {
			color: $color-green;
		}
	}
}
