@use "../../styles/settings" as *;
// Backgrounds
.background,
.socials_background {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;
	z-index: 9;
	pointer-events: none;
	filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}
.background {
	left: 0;
}
.socials_background {
	right: 0;
}

// List wrappers
.sidebar_ul,
.socials_ul {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 99vh;
	padding-top: 15vh;
	z-index: 9;
	width: 99vw;
	gap: 8px;
}
.sidebar_ul {
	.nav_ul {
		gap: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.theme_ul {
		position: relative;
		// Overriding the menu_item component styling
		> * > * > * {
			font-size: 1rem !important;
		}
	}
}
.socials_ul {
	padding-top: 50%;
}

@media (min-width: 900px) {
	.background,
	.socials_background {
		width: 350px;
	}
	.sidebar_ul,
	.socials_ul {
		width: 350px;
		padding-top: 15vh;
	}
}

// Colours
[data-theme="light"] {
	.socials_background,
	.background {
		background: #f6f6f6;
	}
	.theme_ul {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		> * > * > * {
			color: $color-light-text-white !important;
		}
	}
}
[data-theme="dark"] {
	.background {
		background: #232526; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			$color-dark-elevated-secondary,
			$color-dark-elevated-primary,
			$color-grey
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			$color-dark-elevated-accent,
			$color-dark-elevated-primary,
			$color-dark-elevated-secondary,
			$color-dark-background
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.socials_background {
		background: #232526; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			$color-dark-background,
			$color-dark-elevated-secondary,
			$color-dark-elevated-primary
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			$color-dark-background,
			$color-dark-elevated-secondary,
			$color-dark-elevated-primary
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}
