@import 'styles/settings/_settings';
.about_section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $color-lavender;
	color: #fff;
}
