.section {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
