@use '../../styles/settings' as *;

.theme {
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.sub_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 6px;
	transform-origin: 50% -30px;
	z-index: 3;
	&_background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform-origin: 0 0;
	}
	&_container {
		display: flex;
		margin-top: 1rem;
		gap: 1rem;
	}
	&_item {
		margin-bottom: 5px;
		padding: 1rem;
		border-radius: 10px;
		cursor: pointer;
		z-index: 2;
		flex: 0 0 30%;
		background: none;
		border: none;
		outline: inherit;
	}
}

[data-theme='light'] {
	.sub_menu {
		&_item {
			color: $color-light-text-white !important;
			border: none;
			background-color: rgba(0, 0, 0, 0.5);
			.icon {
				color: $color-light-text-white !important;
				stroke: $color-light-text-white !important;
			}
		}
	}
}

[data-theme='dark'] {
	.sub_menu {
		&_background {
			background-color: none;
		}
		&_item {
			background-color: rgba(255, 255, 255, 0.1) !important;
			color: $color-dark-text-secondary;
			&:hover {
				color: $color-dark-text-primary;
			}
		}
	}
}
