@use '../../styles/settings' as *;

.title_container {
	position: relative;
	isolation: isolate;
	display: flex;
	align-items: center;
}

.title {
	font-family: $font-family-default;
	font-weight: 700;
	font-size: 3rem;
	max-width: 16ch;
	line-height: 1.1;
	filter: drop-shadow(0px 7px 3.5px rgba(0, 0, 0, 0.3));
}

.inactive {
	letter-spacing: -4px;
	display: inline-block;
	white-space: pre;
	transform: skewX(0);
	transition: all 1s ease-in-out;
}
.active {
	display: inline-block;
	white-space: pre;
	transition: all 0.5s ease-in-out;
	transform: scaleX(1.3);
	transform: skewX(-12.5deg);
	text-decoration-line: underline;
	text-decoration-skip: spaces;
	text-decoration-thickness: 5px;
	mix-blend-mode: color-burn;
}

@media (min-width: 600px) {
	.title {
		font-size: 4rem;
	}
}
@media (min-width: 900px) {
	.title {
		font-size: 5rem;
	}
}
