@import "styles/settings/_settings";

.navbar {
	position: fixed;
	position: -webkit-sticky;
	top: 0;
	left: -20vw;
	width: 20vw;
	min-height: 100vh;
	color: white;
	border-right: solid 2px $color-dark;
	z-index: 10;
	@include flex-center;
	background-color: $color-primary;
	.socials_container {
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.links_list {
	display: flex;
	flex-direction: column;
	background-color: $color-primary;
	height: 50vh;
	width: 100%;

	.link {
		width: 100%;
		height: 100%;
		@include flex-center;

		&:hover {
			cursor: pointer;
			color: red;
		}
	}
	& :nth-child(odd) {
		background-color: $color-light;
		color: $color-dark;
	}
}
