@import "styles/settings/_settings";

// Mobile Navbar and Navigation Layout

// Navbar
.navbar {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	align-items: center;
	z-index: 2;
	overflow: hidden;
	isolation: isolate;

	.socials_container {
		visibility: hidden;
		display: none;
	}
	.icons_container {
		padding: 1rem 2rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		> *:not(:first-child) {
			margin-right: 0.5rem;
		}

		.circled {
			border: 1px solid black;
			border-radius: 50%;
		}
	}
	.socials_icon {
		border: 1px solid black;
		border-radius: 50%;
	}
	.socials_dropdown {
		background-color: $color-light;
		color: $color-dark;
		opacity: 0.8;
		padding: 0.5rem 2rem;
		display: flex;
		justify-content: space-between;
		width: calc(100vw - 2rem);
		border-radius: 25px;
	}
}

// Navigation Menu (MOBILE FULL SCREEN LAYOUT)
.nav_closed {
	display: none;
	opacity: 0;
}
.nav_open {
	height: 100vh;
	width: 100vw;
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
	@include gradient(background);
	@include gradient-animation();

	.x_container {
		display: flex;
		justify-content: flex-start;
		width: 100vw;
		align-items: center;
		padding-left: 2rem;
		padding-top: 1rem;
	}
	.links_list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		height: calc(100vh - 2rem);
		padding-top: 2rem;
		width: 100%;
		.color_burn_fullsize {
			visibility: visible;
		}
		.sidenav_styles {
			visibility: hidden;
			display: none;
		}
		.link {
			mix-blend-mode: color-burn;
			color: $color-light;
			width: 100%;
			height: 100%;
		}
	}
}

// Media Queries

// Laptop
@media (min-width: 900px) {
	.navbar {
		.icons_container {
			padding: 0 5vw;
		}
		.socials_container {
			padding: 0 5vw;
		}
	}
	.site_navigation {
		width: clamp(20rem, 25vw + 10%, 30vw);
		background: $color-dark;
		color: $color-light;
		.nav_open {
			opacity: 1;
			transition: all linear 1s;
		}
		.links_list {
			margin-top: 3rem;

			height: calc(100vh - 10rem);
			.link {
				color: inherit;
				mix-blend-mode: normal;
				:hover {
					color: $color-lavender;
					background-color: $color-grey;
				}
			}
			.color_burn_fullsize {
				visibility: hidden;
				display: none;
			}
			.sidenav_styles {
				visibility: visible;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				padding: 3rem;
			}
		}
	}
}
// Tablet - Laptop
@media (min-width: 600px) {
	.navbar {
		flex-direction: row;
		padding: 0 1rem;
	}
	.icons_container {
		justify-content: flex-start !important;
		> :not(:first-child) {
			margin-left: 1rem !important;
		}
	}
	.socials_container {
		visibility: visible !important;
		display: flex !important;
		justify-content: flex-end;
		> * {
			margin: 2rem 0.5rem 1rem 0.5rem;
		}
	}
	.mobile_only {
		visibility: hidden;
		display: none;
	}
	.socials_dropdown {
		display: none;
	}
	.x_container {
		margin-left: 1rem;
	}
}
