.nav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100%;
	align-items: center;
	z-index: 2;
	overflow: hidden;
	isolation: isolate;
	.icons_container {
		padding: 1rem 2rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
