@use '../../styles/settings' as *;

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	z-index: 0;
	border-radius: inherit;
	@include flex-center();
}

// Tablet+
@media (min-width: 600px) {
	.backdrop {
		border: 1px solid rgba($color: $color-backdrop, $alpha: 0.8);
	}
	[data-theme='light'] {
		.backdrop {
			background-color: rgba($color: $color-dark, $alpha: 0.6);
		}
	}
}

[data-theme='light'] {
	.backdrop {
		background-color: rgba($color: $color-dark, $alpha: 0.9);
	}
}
[data-theme='dark'] {
	.backdrop {
		background: rgba($color-dark-background, 0.87);
	}
}
