@use '../../styles/settings' as *;

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	z-index: 2;
	border-radius: inherit;
	@include flex-center();
}

// Tablet+
@media (min-width: 600px) {
	.backdrop {
		position: absolute;
		top: -2.5px;
		left: -2.6px;
		bottom: 0;
		width: calc(100% + 5px);
		height: calc(100% + 5px);
		border: 1px solid rgba($color: $color-backdrop, $alpha: 0.8);
		border-radius: $border-radius;
	}
	[data-theme='light'] {
		.backdrop {
			background-color: rgba($color: $color-dark, $alpha: 0.6);
		}
	}
}

[data-theme='light'] {
	.backdrop {
		background-color: rgba($color: $color-dark, $alpha: 0.9);
	}
}
[data-theme='dark'] {
	.backdrop {
		background: $color-dark-background;
	}
}
