@use '../../styles/settings' as *;
.skills_section {
	vertical-align: baseline;
	width: 100vw;
	height: fit-content;
	isolation: isolate;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
// Content container
.container {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	max-width: 70vw;
	margin-top: -3rem;
	margin-bottom: 2rem;
	// SVG Background
	.blob {
		&_1,
		&_2 {
			position: absolute;
			width: 800px;
			height: 500px;
			z-index: -1;
		}
		&_1 {
			animation: myBlob 120s infinite alternate-reverse ease-in;
		}
		&_2 {
			animation: myBlob 100s infinite alternate ease-in;
		}
		@keyframes myBlob {
			0% {
				top: 0;
				left: 0;
			}
			15% {
				top: 30%;
				left: 15%;
			}
			33% {
				left: 20%;
			}
			50% {
				top: 15%;
				left: 35%;
			}
			60% {
				top: 50%;
				left: 60%;
			}
			80% {
				top: 60%;
				left: 20%;
			}
			100% {
				top: 75%;
				left: 75%;
			}
		}
	}
	// Content box (rows within mobile breakpoint)
	.box {
		padding-top: 3rem;
		border-radius: $border-radius;
		display: block;
		transition: $cubic_6;
		.content {
			.columns {
				padding-top: 1rem;
				flex-direction: column;
				@include flex-center();
				&:last-child {
					margin-bottom: -0.75rem;
				}
				.column {
					display: block;
					margin: 0 auto;
					padding-inline: 1rem;
					padding-block: 2rem;
					border-bottom: 2px solid;
					&:last-of-type {
						border-bottom: none;
					}
					flex-basis: 0;
					flex-grow: 1;
					flex-shrink: 1;

					.title {
						display: flex;
						width: 100%;
						justify-content: center;
						padding-bottom: 2rem;
						font-size: 2.5rem;
					}
					.column_text {
						padding-bottom: 1rem;
						> p {
							.strong {
								font-style: oblique;
							}
						}
						&:hover {
							.gradient {
								background-image: linear-gradient(
									to left,
									#f8ab5e 0,
									#f36961 20%,
									#a176c8 40%,
									#759beb 60%,
									#65beb3 80%,
									#70db96 100%
								);
								-webkit-background-clip: text;
								background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}

					.primary {
						padding-block: 1rem;
						text-align: center;
						font-size: 1.25rem;
					}
					.plan {
						color: $color-plan;
					}
					.design {
						color: $color-design;
					}
					.build {
						color: $color-build;
					}
				}
			}
		}
	}
}

// ----------- BREAKPOINTS ----------- //
// ----- Medium (Tablets - Laptops) ----- //
// Width changed and fonts made more legible
@media (min-width: 600px) {
	.skills_section {
		.container {
			max-width: 70vw;
			.box {
				padding-inline: 1rem;
				padding-top: 5rem;
				.content {
					.columns {
						.column {
							.title {
								font-size: 3rem;
							}
							.column_text {
								font-size: 1.25rem;
							}
							.primary {
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}
//  ----- Large (Laptops - Screens) ----- //
// Content organised into columns rather than rows
@media (min-width: 900px) {
	.skills_section {
		height: 100vh;
		.container {
			max-width: $max-width;
			.box {
				.content {
					.columns {
						display: flex;
						flex-direction: row;
						align-content: normal;
						justify-content: center;
						align-items: normal;
						padding-block: 3rem;
						margin: 0;
						.column {
							border-right: 1px solid rgba($color: $color-grey, $alpha: 0.5);
							border-bottom: none;
							&:last-child {
								border-right: none;
								margin-bottom: none !important;
							}
							.title {
								font-size: 3rem;
							}
							.column_text {
								font-size: 1rem;
								min-height: 5rem;
							}
							.primary {
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
	}
}

// ----------- LIGHT/DARK MODE ----------- //
[data-theme='light'] {
	.skills_section {
		@media (min-width: 900px) {
			background-image: linear-gradient(
				to bottom,
				rgba($color: $color-green-light, $alpha: 0.8) 0%,
				rgba($color: $color-green-light, $alpha: 0.5) 5%,
				rgba($color: $color-green-light, $alpha: 0.1) 10%,
				#f1f1f2 20%
			);
		}
		background-color: #f1f1f2;
		.header_wrapper {
			color: $color-light-text-white;
		}
		.container {
			.blob {
				&_1,
				&_2 {
					display: none;
				}
			}
			.box {
				background-color: #f1f1f2;
				@media (min-width: 600px) {
					background-color: #f5f5f6;
				}
				box-shadow: $box-shadow-light;
				&:hover {
					box-shadow: $box-shadow-light-hover;
					background-color: #fff;
				}
				.content {
					.columns {
						.column {
							border-color: #e6ecf8;
							.column_text {
								color: #6e6e73;
							}
						}
					}
				}
			}
		}
	}
}
[data-theme='dark'] {
	.skills_section {
		background-color: $color-dark-background;
		.box {
			background-color: rgba($color: $color-dark-elevated-primary, $alpha: 0.9);
			color: $color-dark-text-secondary;
			box-shadow: 0 1px 5px 0 $color-dark-text-disabled,
				0 0 0 2px $color-dark-text-secondary;
			.content {
				.columns {
					.column {
						border-color: $color-dark-text-disabled;
						.primary {
							color: $color-dark-text-primary;
						}
						> p {
							color: $color-dark-text-primary;
						}
					}
				}
			}
		}
	}
}
