@import "styles/settings/_settings";

.container {
	width: 100vw;
	background-color: none;
	margin: 0 auto;
	text-align: center;
}
.timeline {
	ul {
		padding: 50px 0;
		li {
			list-style: none;
			position: relative;
			width: 0px;
			margin: 0 auto;
			padding-top: 50px;
			background: $color-light;
			.content_container {
				position: relative;
				bottom: 0;
				width: 400px;
				padding: 1rem;
				background: #f6f6f6;
				color: $color-charcoal;
			}
			&:nth-child(odd) .content_container {
				left: 40px;
				&::before {
					left: -15px;
					border-width: 1rem 2rem 1rem 0;
					border-color: transparent #f6f6f6 transparent transparent;
				}
			}
			&:nth-child(even) .content_container {
				left: -434px;
			}
			&:nth-child(even) .content_container::before {
				right: -15px;
				border-width: 1rem 0 1rem 2rem;
				border-color: transparent transparent transparent #f6f6f6;
			}
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 25px;
				height: 25px;
				background: inherit;
				transform: translateX(-50%);
				border-radius: 50%;
			}
		}
	}
}
