@import 'styles/settings/_settings';

.menu_item {
	background: rgba(255, 255, 255, 0.1);
	list-style: none;
	width: 300px;
	min-height: calc(100vh / 8);
	border-radius: 10px;
	display: flex;
	align-content: center;
	align-items: center;
	cursor: pointer;
	&:last-child {
		border-bottom: 1px solid black;
	}
	.icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		flex: 40px 0;
		margin-left: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: flex-start;
	}
	.link {
		position: relative;
		margin-inline: auto;
		&_after {
			transform: scaleX(0);
			transform-origin: 'bottom right';
			transition: transform 0.25s ease-in;
			content: '';
			position: 'absolute';
			bottom: '-2px';
			left: '0';
			width: '100%';
			height: '2px';
		}
		&:hover > .link_after {
			transform: scaleX(1);
			transform-origin: 'bottom left';
		}
	}
}

@media (min-width: 900px) {
	.li {
		width: 300px;
	}
}
