@import 'styles/settings/_settings';

.menu_item {
	border-radius: 10px;
	cursor: pointer;
	flex-direction: column;
	position: relative;
	width: 300px;
	height: 3rem;
	&_content {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: inherit;
		margin: 1px;
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		z-index: 2;
		position: relative;
	}
	.icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		flex: 40px 0;
		margin-left: 2rem;
		margin-right: calc(-2rem - 40px);
		display: flex;
		align-items: center;
		justify-content: center;
		> * {
			transition: all 0.5s ease;
		}
	}
	.link {
		position: relative;
		text-align: right;
		width: 100%;
		padding-right: 2rem;
		font-weight: 600;
		font-size: 1.5rem;
	}
}

@media (min-width: 900px) {
	.menu_item {
		height: 4rem !important;
	}
	[data-theme='dark'] {
		.menu_item {
			.link {
				color: $color-dark-text-secondary !important;
			}
			&:hover .link {
				color: $color-dark-text-primary !important;
			}
			&:hover .icon {
				color: $color-dark-text-primary !important;
			}
		}
	}
}

[data-theme='light'] {
	.menu_item {
		.icon {
			border: 2px solid $color-lightest !important;
			color: $color-lightest;
		}
		.link {
			color: $color-lightest;
		}
	}
}
[data-theme='dark'] {
	.menu_item {
		.icon {
			color: $color-dark-text-secondary;
			border: 2px solid $color-dark-text-secondary;
		}
		.link {
			color: $color-dark-text-primary;
		}
	}
}
