@use '../../styles/settings' as *;

.color_burn_wrapper {
	--max-width: 50rem;
	width: min(100% - 2rem, var(--max-width));
	margin-inline: auto;
	position: relative;
	display: flex;
	align-items: flex-end;
	.burn_element {
		display: flex;
		margin: 0;
		font-size: $font-size-title;
		font-weight: 700;
		max-width: 16ch;
		line-height: 1.1;
		letter-spacing: -6px;
		z-index: -2;
		// Color Burn Element
		&_burn {
			position: absolute;
			display: flex;
			top: 0px;
			left: 0px;
			font-size: $font-size-title;
			font-weight: 700;
			max-width: 16ch;
			line-height: 1.1;
			letter-spacing: -6px;
			mix-blend-mode: color-burn;
			z-index: 1;
		}
		// Low opacity dark overlay element
		&[data-overlay] {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 1;
		}
	}
}

[data-theme='light'] {
	.burn_element {
		color: $color-dark;
		opacity: 0.75;
		&_burn {
			color: $color-darkest;
			opacity: 0.75;
		}
		&[data-overlay] {
			color: $color-dark;
			opacity: 0.3;
		}
	}
}
[data-theme='dark'] {
	.burn_element {
		color: $color-light;
		opacity: 0.7;
		&_burn {
			color: $color-lavender;
			opacity: 1;
		}
		&[data-overlay] {
			color: $color-lightest;
		}
	}
}
