.navigation {
	position: fixed;
	position: -webkit-sticky;
	top: 0;
	width: 10vw;
	min-height: 100vh;
	background-color: black;
	color: white;
	padding: 1rem;
	z-index: 10;
	display: none;
}

.link {
	text-decoration: underline;
	cursor: default;
}
