// Primary shades
$color-green-lightest: #e0eec6;
$color-green-light: #00a85f;
$color-green: #243e36;
$color-green-dark: #003d2d;
$color-green-darker: #162521;

// Secondary shades
$color-lavender: #e6e6ff;
$color-blue-lighter: #a7c6da;
$color-teal-light: #21e6c1;
$color-teal: #278ea5;
$color-blue-light: #0586ff;
$color-blue: #1f4287;
$color-blue-dark: #0000a8;
$color-blue-darker: #141c3a;
$color-blue-darkest: #071e3d;

// Complimentary Shades
$color-yellow-dark: #f1db4b;
$color-red-dark: #c3423f;
$color-orange: #eb4511;

// Lights, greys, darks
$color-lightest: #f5f9e9;
$color-light: #f9ffe5;
$color-silver: #eef0f2;
$color-grey: #738290;
$color-charcoal: #2c4251;
$color-dark: #363645;
$color-darkest: #171614;

// Skills
$color-plan: $color-red-dark;
$color-design: $color-green-light;
$color-build: $color-blue-light;
$color-backdrop: $color-blue-darker;

// Color Gradient
$color-gradient-1: $color-green-lightest;
$color-gradient-2: $color-blue-light;
$color-gradient-3: $color-red-dark;
$color-gradient-4: $color-yellow-dark;
$color-gradient-5: $color-orange;

// Light Mode Shades:
$color-light-primary: $color-green-light;
$color-light-secondary: $color-blue-light;
$color-light-background: $color-light;
$color-light-accent: $color-yellow-dark;
$color-light-text-black: $color-darkest;
$color-light-text-white: $color-lightest;

// Dark Mode Shades:
$color-dark-text-primary: rgba(#f9ffe5, 0.87);
$color-dark-text-secondary: rgba(#f9ffe5, 0.6);
$color-dark-text-disabled: rgba(#f9ffe5, 0.3);
$color-dark-background: #121212;
$color-dark-elevated-secondary: #1e1e1e;
$color-dark-elevated-primary: #2e2e2e;
