@mixin gradient($property, $opts: none) {
	#{$property}: linear-gradient(
			-45deg,
			$color-gradient-1,
			$color-gradient-2,
			$color-gradient-3,
			$color-gradient-4,
			$color-gradient-5
		),
		$opts;
}
@mixin gradient_blue($property) {
	#{$property}: linear-gradient(
		-45deg,
		$color-blue-darker,
		$color-blue-dark,
		$color-blue-light,
		$color-blue-lighter,
		$color-lightest
	);
}
@mixin gradient_light($property) {
	#{$property}: linear-gradient(
		-45deg,
		$color-light,
		$color-lightest,
		$color-lavender,
		$color-blue-lighter,
		$color-green-lightest
	);
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin gradient-animation {
	background-size: 500% 500%;
	animation: gradient 12s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@mixin underline_after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	color: $color-light;
	background-color: $color-light;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
@mixin underline_hover_after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
