@use '../../styles/settings' as *;
@use '../../styles/settings/utilities' as u;

.about_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	max-width: 100vw;
	min-height: fit-content;
	padding-bottom: 3rem;

	// SVG
	.tilt {
		position: absolute;
		top: -1px;
		left: 0;
		width: 300%;
		pointer-events: none;
	}
	// Header
	.header_wrapper {
		padding-top: 10vh;
		padding-inline: 2rem;
		align-self: flex-start;
		align-items: center;
		margin-bottom: -4rem;
		display: flex;
		width: 100%;
		.arrow {
			width: 10rem;
			height: 10rem;
			padding: 1rem;
			margin-left: -3rem;
		}
	}
	// Content
	.content_container {
		display: flex;
		flex-direction: column;
		.image_container {
			padding-top: 1rem;
			width: 50vw;
			align-self: center;
			> * {
				border-radius: u.$border-radius;
			}
		}
		.bio_container {
			align-self: center;
			padding-block: 1rem;
			line-height: 1.25;
			width: 70vw;
			.bio_paragraph {
				border: 1px solid;
				border-radius: u.$border-radius;
				margin-bottom: 1rem;
				padding-block: 1rem;
				padding-inline: 1.5rem;
				transition: u.$cubic_6;
			}
		}
	}
}
// ----------- BREAKPOINTS ----------- //
// ----- Medium (Tablets - Laptops) ----- //
// Arrow is repositioned
@media (min-width: 600px) {
	.about_section {
		.header_wrapper {
			padding-left: 3rem;
			padding-top: 7.5rem;
			margin-bottom: -2rem;
			.arrow {
				width: 12.5rem;
				height: 12.5rem;
				margin-left: -4rem;
			}
		}
		.content_container {
			.bio_container {
				padding-block: 2rem;
				font-size: 1.2rem;
				line-height: 1.5;
			}
		}
	}
}

//  ----- Large (Laptops - Screens) ----- //
// Hover effects added
@media (min-width: 900px) {
	.about_section {
		height: 100vh;
		min-height: 50rem;
		justify-content: center;
		.header_wrapper {
			width: u.$max-width;
			display: flex;
			justify-content: flex-start;
			align-self: flex-start;
			margin-bottom: 1rem;
			margin-inline: auto;
			padding: 2rem 0 0 0;
		}
		.content_container {
			flex-direction: row;
			max-width: u.$max-width;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 2rem;
			.image_container {
				margin: 0px auto;
				align-self: flex-start;
				min-width: 20vw;
				padding: 0;
				filter: drop-shadow(0px 7px 3.5px rgba(0, 0, 0, 0.3));
			}
			.bio_container {
				text-align: justify;
				padding: 0;
				.bio_paragraph {
					&:hover {
						transform: scale3d(1.01, 1.01, 1.01);
					}
				}
			}
		}
	}
}

// ----------- LIGHT/DARK MODE ----------- //
[data-theme='light'] {
	.about_section {
		background-color: rgba($color-light-primary, 0.8);
		color: $color-light-text-white-secondary;
		.tilt {
			filter: drop-shadow(0px 7px 3.5px rgba(0, 0, 0, 0.3));
			fill: #f6f6f6;
		}
		.content_container {
			.bio_container {
				.bio_paragraph {
					box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
					border-color: $color-light-background;
					.strong {
						color: $color-charcoal;
					}
					&:hover {
						box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
					}
				}
			}
		}
		.header_wrapper {
			.arrow {
				stroke: $color-light-text-white;
				fill: $color-light-text-white;
			}
		}
	}
}
[data-theme='dark'] {
	.about_section {
		background-color: $color-dark-background;
		color: $color-dark-text-secondary;
		.tilt {
			filter: drop-shadow(0px 5px 3px rgba(97, 95, 95, 0.5));
			fill: $color-dark-background;
		}
		.header_wrapper {
			color: $color-dark-text-primary;
			.arrow {
				stroke: $color-dark-text-secondary;
				fill: $color-dark-text-secondary;
			}
		}
		.content_container {
			.image_container {
				img {
					filter: brightness(0.8) contrast(1.1);
				}
			}
			.bio_container {
				.bio_paragraph {
					color: $color-dark-text-secondary;
					border-color: $color-dark-text-secondary;
					.strong {
						color: $color-dark-accent;
						transition: all 1s ease-in;
					}
					&:hover {
						color: $color-dark-text-primary;
						border-color: $color-dark-text-primary;
						.gradient {
							background-image: linear-gradient(
								to left,
								#f8ab5e 0,
								#f36961 20%,
								#a176c8 40%,
								#759beb 60%,
								#65beb3 80%,
								#70db96 100%
							);
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
				}
			}
		}
	}
}
