@use '../../styles/settings' as *;
.footer {
	@include flex-center();
	@include gradient-blue(background);
	min-height: fit-content;
	max-height: fit-content;
	width: 100vw;
	.container {
		margin-block: 1rem;
		transition: $cubic_6;
		.content {
			padding-top: 1rem;
			.lines {
				margin-inline: 0;
				@include flex-center();
				flex-direction: column;
				text-align: center;
				.line {
					padding: 0.5rem;
					border-bottom: 2px solid;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-basis: 0;
					flex-grow: 1;
					flex-shrink: 1;
					margin: 0 auto;
					&:last-child {
						border-bottom: none;
					}
					&:hover {
						border-color: $color-dark-text-primary;
						color: $color-light-text-white;
					}
				}
			}
		}
	}
}

@media (min-width: 900px) {
	.footer {
		.container {
			max-width: $max-width;
			min-width: $max-width;
			margin-block: 0;
			.content {
				padding-top: 0;
				.lines {
					justify-content: center;
					flex-direction: row;
					padding-block: 0;
					padding-inline: 0;
					margin: 0;
					.line {
						border-right: 1px solid;
						border-bottom: none;
						margin-block: 0.5rem;
						padding-block: 0.25rem;
						&:last-child {
							border-right: none;
							margin-bottom: none;
						}
						p > a {
							text-decoration: underline;
							text-underline-offset: 0.25em;
							&:hover {
								color: $color-light-accent;
							}
						}
					}
				}
			}
		}
	}
}

[data-theme='light'] {
	.footer {
		color: $color-light-text-white;
		opacity: 0.8;
	}
}

[data-theme='dark'] {
	.footer {
		opacity: 0.7;
		color: $color-dark-text-secondary;
	}
}
