@use "../../styles/settings" as *;
.contact_section {
	@include flex-center();
	flex-direction: column;
	width: 100vw;
	height: fit-content;
	.container {
		margin-block: 1.5rem;
		width: 70vw;
		min-height: fit-content;
		.box {
			display: block;
			padding-block: 3rem;
			border-radius: $border-radius;
			transition: $cubic_6;
			.header_wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: fit-content;
			}
			.content {
				padding-top: 3rem;
				.columns {
					margin-inline: 0;
					display: flex;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					.column {
						padding: 1rem;
						border-bottom: 2px solid;
						display: block;
						flex-basis: 0;
						flex-grow: 1;
						flex-shrink: 1;
						margin: 0 auto;
						transition: $cubic_6;
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 900px) {
	.contact_section {
		.container {
			margin-top: -2rem;
			max-width: $max-width;
			.box {
				.content {
					padding-top: 0;
					.columns {
						align-content: normal;
						align-items: normal;
						justify-content: center;
						flex-direction: row;
						padding-block: 3rem;
						margin: 0;
						.column {
							border-right: 0.5px solid;
							border-left: 0.5px solid;
							border-bottom: none;
							padding: 0;
							margin: 1rem auto;
							&:first-child {
								border-left: none;
							}
							&:last-child {
								border-right: none;
								margin-bottom: none !important;
							}
							.title {
								font-size: 1.25rem;
								transition: $cubic_3;
							}
							&:hover {
								cursor: pointer;
								.title {
									transform: $scale_1;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1440px) {
	.contact_section {
		.container {
			.box {
				max-width: $max-width;
			}
		}
	}
}

[data-theme="light"] {
	.contact_section {
		background-color: #f1f1f2;
		color: darken($color: $color-light-secondary, $amount: 15);

		.box {
			background-color: #f1f1f2;
			@media (min-width: 600px) {
				background-color: #f5f5f6;
			}
			box-shadow: $box-shadow-light;
			&:hover {
				box-shadow: $box-shadow-light-hover;
				background-color: #fff;
			}
			.header_wrapper {
				color: rgba($color-dark-elevated-primary, 0.7);
			}
			.content {
				color: $color-charcoal;
				.columns {
					.column {
						border-color: $color-teal;
						&:hover {
							background-color: #f6f6fa;

							.icon {
								color: $color-teal;
							}
						}
					}
				}
			}
		}
	}
}

[data-theme="dark"] {
	.contact_section {
		background-color: $color-dark-background;
		.container {
			.box {
				background-color: rgba(
					$color: $color-dark-elevated-secondary,
					$alpha: 0.8
				);
				box-shadow: 0 1px 1px 0 $color-dark-text-disabled,
					0 0 0 1px $color-dark-text-secondary;

				&:hover {
					background-color: rgba(
						$color: $color-dark-elevated-secondary,
						$alpha: 1
					);
					box-shadow: 0 1px 5px 0 $color-dark-text-disabled,
						0 0 0 2px $color-dark-text-secondary;
				}
				color: $color-dark-text-secondary;
				.header_wrapper {
					color: $color-dark-text-primary;
				}
				.content {
					.columns {
						.column {
							color: $color-dark-text-secondary;
							border-color: $color-dark-text-disabled;
							&:hover {
								background-color: $color-dark-elevated-primary;
								color: $color-dark-text-primary;
								.icon {
									color: $color-dark-accent;
								}
							}
						}
					}
				}
			}
		}
	}
}
