@use "../../styles/settings" as *;
.modal {
	width: min($max-width, 80vw);
	height: clamp(60%, 55vh + 10rem, 75%);
	margin-inline: auto;
	margin-top: 10vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border-radius: $border-radius;
	z-index: 10;
	.close_wrapper {
		width: 95%;
		position: absolute;
		bottom: 5%;
		right: 5%;
		display: flex;
		justify-content: flex-end;
		.close_button {
			border: none;
			border-radius: 25px;
			padding: 0.5rem;
			margin: 0.5rem;
			cursor: pointer;
			transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
			&:hover {
				transform: scale3d(1.05, 1.05, 1.05);
			}
		}
	}
}
// ----------- BREAKPOINTS ----------- //
// ----- Medium (Tablets - Laptops) ----- //
// Height and padding properties changed
@media (min-width: 600px) {
	.modal {
		overflow: hidden;
		margin-top: 0;
		padding: 3rem;
		max-height: 80vh;
		.close_wrapper {
			.close_button {
				font-size: 1.25rem;
				padding: 1rem;
			}
		}
	}
}
// ----------- LIGHT/DARK MODE ----------- //
[data-theme="light"] {
	.modal {
		background-color: #f6f6f6;
		.close_wrapper {
			.close_button {
				background: $color-build;
				color: $color-light-text-white;
			}
		}
	}
}
[data-theme="dark"] {
	.modal {
		background-color: lighten($color: $color-dark-background, $amount: 10);
		transition: $cubic_3;

		&:hover {
			background-color: lighten($color: $color-dark-background, $amount: 12);
		}
		border: solid $color-dark-text-disabled 1px;
		.close_wrapper {
			.close_button {
				background: $color-dark-text-disabled;
				color: $color-dark-text-secondary;
				&:hover {
					background: $color-teal;
					color: $color-dark-text-primary;
				}
			}
		}
	}
}
