@use '../../styles/settings' as *;
.modal {
	width: clamp(50%, 700px, 90%);
	height: clamp(50%, 55vh + 10rem, 75%);
	margin-inline: auto;
	margin-top: 10vh;
	padding: 20vh 2rem 2rem 2rem;
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.close_wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		.close_button {
			border: none;
			border-radius: 25px;
			padding: 0.5rem;
			margin: 0.5rem;
			cursor: pointer;
		}
	}
}

@media (min-width: 600px) {
	.modal {
		margin-top: 0;
		padding: 3rem;
		max-height: 100vh;
		.close_wrapper {
			.close_button {
				padding: 1rem;
			}
		}
	}
}

[data-theme='light'] {
	.modal {
		background-color: $color-lavender;
		.close_wrapper {
			.close_button {
				background: $color-charcoal;
				color: $color-lavender;
			}
		}
	}
}
[data-theme='dark'] {
	.modal {
		background-color: $color-dark-background;
	}
}
