@import "styles/settings/_settings";

.icons_container {
	.skills_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
		border-bottom: 1px solid #e6ecf8;
		.skill {
			background: none;
			border: none;
			padding-inline: 1rem;
			padding-block: 0.5rem;
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
			font-size: clamp(1.2rem, 10% + 1.2rem, 5rem);

			.icon {
				width: min(2.5em, 25vw);
				height: min(2.5em, 25vh);
				border: 2px solid black;
				font-size: clamp(0.7rem, 10% + 1.2rem, 5rem);
				border-radius: 50%;
				padding: 0.75rem;
				cursor: pointer;
			}
			.name {
				font-size: clamp(0.7rem, 10% + 0.8rem, 5rem);
				font-weight: 500;
			}
		}
	}
}

.plan {
	@include skillHover($color-plan);
}
.design {
	@include skillHover($color-design);
}
.build {
	@include skillHover($color-build);
}

@media (min-width: 600px) {
	.skills_list {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		border-bottom: none !important;
	}
}
