@use '../../styles/settings' as *;

// Section
.portfolio_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	background-image: url('../../assets/blurry-gradient-haikei.svg');
	aspect-ratio: 960/540;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// Header with SVG
	.header_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: fit-content;
		padding-bottom: 1rem;
		// SVG
		#progress {
			transform: rotate(-90deg);
			fill: none;
			align-self: center;
			margin-right: -4px;
			.indicator {
				stroke-width: 20%;
				fill: none;
			}
			ellipse {
				stroke-dashoffset: 0;
				stroke-width: 15%;
			}
		}
	}

	// Content
	.carousel_container {
		position: relative;
		padding-inline: 0.5rem;
		.carousel {
			display: flex;
			list-style: none;
			overflow-x: scroll;
			overflow-y: hidden;
			flex: 0 0 600px;
			padding-bottom: 1rem;
			.list_item {
				padding-inline: 1em;
				margin-block: 0.5rem;
				margin-left: 0.5rem;
				margin-right: 1rem;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin: 0.5rem 3px 0.5rem 1rem;
				}
				flex: 0 0 200px;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				cursor: pointer;
				&::after {
					content: '';
					border: 2px solid;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					position: absolute;
					opacity: 0;
					transition: all 0.3s ease-in;
				}
				.slide_title {
					flex-wrap: wrap;
					text-align: center;
					padding-top: 15px;
					padding-inline: 0.5rem;
					font-size: 2rem;
					font-weight: 500;
				}
				.slide_image {
					transform: scale(1);
					transition: all 0.3s ease-in;
				}
				&:hover {
					&::after {
						left: 15px;
						right: 15px;
						bottom: 15px;
						top: 15px;
						opacity: 1;
					}
					.slide_image {
						transform: scale(1.1);
					}
				}
			}
		}
		::-webkit-scrollbar {
			height: 5px;
			width: 5px;
			border-radius: 1ex;
			-webkit-border-radius: 1ex;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 1ex;
			-webkit-border-radius: 1ex;
		}
	}
}

@media (min-width: 600px) {
	.portfolio_section {
		.header_wrapper {
			#progress {
				margin-left: -8px;
				margin-right: -11px;
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					flex: 0 0 300px;
				}
			}
		}
	}
}
@media (min-width: 900px) {
	.portfolio_section {
		.carousel_container {
			max-width: 60rem;
			margin: 0 auto;
		}
		.carousel {
			.list_item {
				flex: 0 0 600px !important;
			}
		}
	}
}

// LIGHT MODE
[data-theme='light'] {
	.portfolio_section {
		background-color: none;
		color: $color-light-text-white;
		.header_wrapper {
			color: $color-light-text-white;
			#progress {
				filter: drop-shadow(-7px 0px 3.5px rgba(0, 0, 0, 0.3));
				opacity: 1;

				.indicator {
					stroke: $color-light-text-white;
					filter: drop-shadow(1px 0px 3px rgba(0, 0, 0, 0.3));
				}
				ellipse {
					fill: none;
				}
				.bg_inner {
					fill: #1c4b95;
					fill-opacity: 1;
					stroke: #1c4b95;
					stroke-width: 15%;
				}
				.bg_outer {
					fill: $color-light-text-white;
					stroke: none;
					opacity: 0.5;
				}
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					background-color: $color-light-text-white;
					border: none;
					box-shadow: 3px 3px 5px rgba(59, 135, 202, 0.4),
						5px 5px 15px rgba(105, 25, 255, 0.3);
					// filter: drop-shadow(3.5px 3.5px 3.5px rgba(0, 0, 0, 0.3));
					.slide_title {
						color: $color-light-secondary;
					}
					&::after {
						border-color: $color-light-secondary;
					}
				}
			}
			::-webkit-scrollbar {
				background: $color-grey;
			}
			::-webkit-scrollbar-thumb {
				background: $color-light-text-white;
			}
			::-webkit-scrollbar-corner {
				background: $color-grey;
			}
		}
	}
}

// DARK MODE
[data-theme='dark'] {
	.portfolio_section {
		background-image: none;
		background-color: $color-dark-background;
		color: $color-dark-text-primary;
		.header_wrapper {
			color: $color-dark-text-primary;
			#progress {
				.indicator {
					stroke: $color-dark-text-primary;
				}
				ellipse {
					fill: $color-dark-background;
				}
				.bg_inner {
					fill: $color-dark-background;
					stroke: $color-dark-background;
					opacity: 1;
				}
				.bg_outer {
					fill: $color-dark-text-primary;
					opacity: 0.3;
				}
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					border-radius: 10px;
					background-color: $color-dark-elevated-secondary;
					.slide_title {
						color: $color-dark-text-secondary;
					}
					&::after {
						border-color: rgba(195, 66, 63, 0.4);
					}
					box-shadow: 5px 5px 15px rgba(195, 66, 63, 0.4),
						3px 3px 5px rgba(241, 219, 75, 0.3);
					transition: box-shadow 0.1s ease-in;
					&:hover {
						background-color: rgba(
							$color: $color-dark-elevated-primary,
							$alpha: 0.4
						);
						box-shadow: 3px 3px 5px rgba(195, 66, 63, 0.4),
							1px 1px 2.5px rgba(241, 219, 75, 0.3);
						.slide_title {
							color: $color-dark-text-primary;
						}
						&::after {
							border-radius: 10px;
						}
					}
				}
			}
			::-webkit-scrollbar {
				background: $color-dark-elevated-secondary;
			}
			::-webkit-scrollbar-thumb {
				background: $color-dark-text-primary;
			}
			::-webkit-scrollbar-corner {
				background: $color-dark-elevated-secondary;
			}
		}
	}
}
