@import "styles/settings/_settings";

.portfolio_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	.header_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: fit-content;
		padding-bottom: 1rem;
		// SVG
		#progress {
			filter: drop-shadow(-7px 0px 3.5px rgba(0, 0, 0, 0.3));
			transform: rotate(-90deg);
			fill: none;
			margin: 0;
			margin-right: -4px;
			.indicator {
				stroke-width: 20%;
				z-index: -1;
				fill: none;
			}
			ellipse {
				stroke-dashoffset: 0;
				stroke-width: 15%;
			}
			.bg_inner {
				opacity: 1;

				z-index: 2;
			}
			.bg_outer {
				opacity: 0.3;
			}
		}
	}
	.carousel_container {
		position: relative;
		.carousel {
			display: flex;
			list-style: none;
			overflow-x: scroll;
			overflow-y: hidden;
			flex: 0 0 600px;
			margin: 0 auto;
			.list_item {
				flex: 0 0 200px;
				border: 1px solid black;
				border-radius: 12.5px;
				margin: 0 20px 0 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				cursor: pointer;
				&::after {
					content: "";
					border: 2px solid #5c777e;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					position: absolute;
					opacity: 0;
					transition: all 0.5s ease-in;
				}
				.slide_title {
					flex-wrap: wrap;
					text-align: center;
					color: $color-light-secondary;
					padding-top: 15px;
				}
				.slide_image {
					transform: scale(1);
					transition: all 0.5s ease-in;
				}
				&:hover {
					&::after {
						left: 15px;
						right: 15px;
						bottom: 15px;
						top: 15px;
						opacity: 1;
						border-radius: 12.5px;
					}
					.slide_image {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.portfolio_section {
		.header_wrapper {
			#progress {
				margin-left: -5px;
				margin-right: -10px;
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					flex: 0 0 300px;
				}
			}
		}
	}
}
@media (min-width: 900px) {
	.portfolio_section {
		.carousel_container {
			max-width: 60rem;
			margin: 0 auto;
		}
		.carousel {
			.list_item {
				flex: 0 0 350px !important;
			}
		}
	}
}

[data-theme="light"] {
	.portfolio_section {
		background-color: rgba($color-light-primary, 0.75);
		color: $color-light-text-white;
		.header_wrapper {
			color: $color-light-text-white;
			#progress {
				.indicator {
					stroke: $color-light-text-white;
				}
				ellipse {
					fill: $color-light-primary;
				}
				.bg_inner {
					fill: rgba($color-light-primary, 0.75);
					stroke: rgba($color-light-primary, 0.75);
				}
				.bg_outer {
					fill: $color-light-text-white;
				}
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					background-color: $color-light-primary;
				}
			}
		}
	}
}
[data-theme="dark"] {
	.portfolio_section {
		background-color: $color-dark-background;
		color: $color-dark-text-primary;
		.header_wrapper {
			color: $color-dark-text-primary;
			#progress {
				.indicator {
					stroke: $color-dark-text-primary;
				}
				ellipse {
					fill: $color-dark-background;
				}
				.bg_inner {
					fill: $color-dark-background;
					stroke: $color-dark-background;
				}
				.bg_outer {
					fill: $color-dark-text-primary;
				}
			}
		}
		.carousel_container {
			.carousel {
				.list_item {
					background-color: $color-dark-elevated-secondary;
					&:hover {
						background-color: $color-backdrop;
					}
				}
			}
		}
	}
}
