$font-family-default: "Work Sans", "Segoe UI", sans-serif;
$font-family-serif: "Baskerville", "Baskerville Old Face", "Hoefler Text",
	Garamond, "Times New Roman", serif;
$font-family-js: "Neutraface Text Bold";
$font-size-title: clamp(3rem, 12vw + 1rem, 5rem);
