@import "styles/settings/_settings";

.li {
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	.icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		flex: 40px 0;
		margin-right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.link {
		position: relative;
		&:hover > .link_after {
			transform: scaleX(1);
			transform-origin: "bottom left";
		}
		.link_after {
			transform: scaleX(0);
			transform-origin: "bottom right";
			transition: transform 0.25s ease-in;
		}
	}
}

// .text_placeholder {
// 	border-radius: 5px;
// 	width: 200px;
// 	height: 20px;
// 	flex: 1;
// }
