@use '../../styles/settings' as *;

// Each Container has a list of mapped children, displayed as icons
.icons_container {
	// ----- Skills Map ----- //
	.skills_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		.skill {
			background: none;
			border: none;
			margin-inline: 0.2rem;
			margin-block: 1rem;
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
			.icon_wrapper {
				border: 2px solid;
				height: 3rem;
				width: 3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				padding: 0.2rem;
				cursor: pointer;
				.icon {
					font-size: 3rem;
					max-width: 80%;
					height: 100%;
				}
				&:hover {
					box-shadow: $box-shadow-light-hover;
				}
			}
		}
	}
	// ----- Modal ----- //
	.modal_wrapper {
		width: 100%;
		min-height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 0.5rem;
		.header {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			.title {
				font-size: 2rem;
				font-family: inherit;
			}
			.icon_wrapper {
				border: 2px solid;
				height: 3rem;
				width: 3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				padding: 0.2rem;
				.icon {
					font-size: 3rem;
					max-width: 80%;
					height: 100%;
				}
			}
		}
		.text_container {
			display: flex;
			flex-direction: column;
			text-align: left;
			gap: 1rem;
			.where {
				padding-top: 0.5rem;
			}
			.paragraph {
				padding-top: 0.5rem;
			}
		}
	}
}

// Functions to assign text colour for each category
.plan {
	@include skillHover($color-plan);
}
.design {
	@include skillHover($color-design);
}
.build {
	@include skillHover($color-build);
}

// ----------- BREAKPOINTS ----------- //
// ----- Medium (Tablets - Laptops) ----- //
// 1. Updates to padding and spacing on larger screens
@media (min-width: 600px) {
	.icons_container {
		.skills_list {
			border-bottom: none;
			padding-bottom: 3rem;
			.skill {
				margin-inline: 1rem;
				width: 1rem;
			}
		}
		.modal_wrapper {
			padding: 3rem;
			.header {
				max-height: 5rem;
				.title {
					font-size: 3rem;
				}
				.icon_wrapper {
					width: 3.5rem;
					height: 3.5rem;
				}
			}
		}
	}
}
//  ----- Large (Laptops - Screens) ----- //
// 1. The icons are made bigger to exploit larger screen size
// 2. The skills are now displayed in 2 columns rather than 4
// 3. The modal content is made bigger and the layout changed to make better use of the screen width
@media (min-width: 900px) {
	.icons_container {
		.skills_list {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			border-bottom: none !important;
			padding-bottom: 3rem;
			border-bottom: 1px solid #e6ecf8;
			.skill {
				margin-inline: 3rem;
				.icon_wrapper {
					box-shadow: none;
					width: 3.5rem;
					height: 3.5rem;
					&:hover {
						box-shadow: $box-shadow-light;
					}
				}
			}
		}
		.modal_wrapper {
			padding: 4rem;
			.header {
				justify-content: center;
				padding-bottom: 3.5rem;
				.title {
					font-size: 3.5rem;
				}
				.icon_wrapper {
					width: 3.5rem;
					height: 3.5rem;
					margin-right: 3.5rem;
				}
			}
			.text_container {
				.subtitle {
					font-style: oblique;
				}
				.paragraph {
					padding-top: 2rem;
				}
			}
		}
	}
}
