@use './settings/' as *;
.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.blob {
		width: 800px;
		height: 500px;
		position: absolute;
		animation: myBlob 120s infinite alternate-reverse ease-in;
		@keyframes myBlob {
			0% {
				top: 0;
				left: 0;
			}
			15% {
				top: 30%;
				left: 15%;
			}
			33% {
				left: 20%;
			}
			50% {
				top: 15%;
				left: 35%;
			}
			60% {
				top: 50%;
				left: 60%;
			}
			80% {
				top: 60%;
				left: 20%;
			}
			100% {
				top: 75%;
				left: 75%;
			}
		}
	}
	.content {
		z-index: 1;
	}
}

[data-theme='light'] {
	.container {
		background-color: $color-light-background;
	}
}

[data-theme='dark'] {
	.container {
		background-color: $color-dark-background;
	}
}
