@import 'styles/settings/settings';
// Global settings
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow: hidden;
	scroll-behavior: smooth;
}
:root {
	/* Your default theme */
	$color-background: white;
	$color-text: black;
}
// [data-theme='dark'] {
// 	$color-background: $color-lightest;
// 	$color-text: $color-darkest;
// }

// Colours
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	$color-background: black;
	$color-text: blue;
}

// Style resets
html {
	font-size: 16px;
}
// Box sizing
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Work Sans', 'Segoe UI', sans-serif;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

// Scroll container classes
.container {
	padding: 0;
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
}
.scroll-area {
	scroll-snap-align: start;
}
