@use './settings/' as *;
// Global settings
//-------------- Style resets -------------- //
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
body {
	min-height: 100vh;
}
img,
picture,
svg,
video {
	display: inline-block;
	max-width: 100%;
}
input,
textarea,
button,
select {
	font: inherit;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow: hidden;
	scroll-behavior: smooth;
}
html {
	font-size: 1em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Work Sans', 'Segoe UI', sans-serif;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

//-------------- Colors -------------- //
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

// Scroll section container class
.container {
	padding: 0;
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth !important;
}
.scroll-area {
	scroll-snap-align: start;
}
