.portfolio_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	.cards {
		&_shelf {
			display: block;
			.shelf_header {
				padding-bottom: 1rem;
			}
			&_scroller {
				position: relative;
				display: block;
				.cards_scroller {
					&_crop {
						overflow: hidden;
						padding: 26px;
						height: 40rem;
						.cards_scroller_content {
							overflow-x: scroll;
							overscroll-behavior-x: contain;
							position: relative;
							scroll-snap-type: x mandatory;
							white-space: nowrap;
							.cards_scroller_platter {
								width: 100%;
								vertical-align: top;
								display: inline-flex;
								padding-top: 10px;
								padding-bottom: 40px;
								.list_item {
									display: inline-block;
									scroll-snap-align: start;
									.cards_scroller_itemview {
										margin-left: 0;
										display: flex;
										height: 30rem;
										margin-right: 20px;
										transform: translateX(calc(max(1024px, 100vw) / 2 - 490px));
										.card {
											display: block;
											position: relative;
											&_content {
												display: flex;
												flex-direction: column;
												overflow: hidden;
												background-color: white;
												color: black;
												border-radius: 18px;
												height: 29rem;
												box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
												transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

												width: 40rem;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
