// Imports
@import 'styles/settings/_settings';

// Mixins

// Containers
.main_section {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	padding: 0 10vw;
	align-items: center;
	justify-content: flex-start;
	background: linear-gradient(
		-45deg,
		$color-lightest,
		$color-light,
		$color-grey,
		$color-dark
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.main_container {
	min-width: 100vw;
	min-height: 100vh;
	padding: 0 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Inner containers
.image_area,
.buttons_square {
	display: none;
}
.left_bottom,
.image_area,
.logo_area {
	min-width: 100vw;
}

.logo_area,
.mobile_text_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 35vh;

	> * {
		padding-top: 1rem;
	}
}
.left_bottom {
	display: flex;
	justify-content: center;
	min-width: 100vw;
	max-height: 50vh;
	.left_bottom_right {
		display: none;
	}
}
.logo_container {
	min-width: 10rem;
}

// Text styling
.title_wrapper {
	width: 100vw;
	min-height: 10vh;
	background-color: #00a85f;
	display: flex;
	align-items: center;
}
// Image styling
.main_section {
	flex-direction: column;
}

.main_image {
	border-radius: 50%;
}

// Media queries and breakpoints

// Medium
@media (min-width: 900px) {
	.main_container {
		display: grid;
		grid-template-columns: 1fr 1.618fr;
		width: 100%;
		// Left hand side
		.logo_area {
			height: 100vh;
			display: grid;
			grid-template-rows: 1.618fr 1fr;
			justify-content: stretch;
			.buttons_square {
				display: flex;
				height: 100%;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 1em;
			}
			.left_bottom {
				height: 100%;
				display: grid;
				grid-template-columns: 1.618fr 1fr;
				.logo_container {
					min-width: auto;
					opacity: 0.8;
				}
				.left_bottom_right {
					display: grid;
					grid-template-columns: 1fr 1.618fr;
					height: fit-content;
					max-width: 100%;
				}
			}
		}
		// Right hand side
		.image_area {
			min-width: 100%;
			height: 100vh;
			justify-content: flex-end;
			.image_container {
				opacity: 0.8;
				min-width: 20vw;
				height: auto;
				position: relative;
				padding-bottom: 40%;
				border: double 0.75rem transparent;
				@include green-gradient(
					background-image,
					linear-gradient(white, white)
				);
				background-origin: border-box;
				background-size: 400% 400%;
				background-clip: border-box, content-box;
				animation: gradient 15s ease infinite;
				padding-left: 1rem;
			}
		}
	}
	.left_bottom,
	.image_area,
	.logo_area {
		min-width: 100%;
	}
	.title_wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		@include green-gradient(background);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		opacity: 0.8;
		border-radius: 10px;
		padding: 0.5rem;
		width: min(30rem, 50vw);
		display: flex;
		align-items: center;
		z-index: 0;
	}
}

// Small
@media (min-width: 600px) {
	.image_area {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 30rem;
		height: 30rem;
		.image_container {
			position: relative;
			display: block;
			width: fit-content;
			min-width: 20rem;
			height: 20rem;
			border: 0.75rem solid;
			border-color: $color-primary;
			background-color: #fff;
			border-radius: 50%;
			z-index: 1;
			grid-template-columns: 1fr 1.618fr;
		}
	}
	.mobile_text_area {
		display: none;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
