// Layout and containers
// Variables
$gr_square: calc(100vw - (100% / 1.618));
$gr_rect: 100%;
@mixin innerSquare {
	max-width: 100%;
	min-height: 50%;
}

// Containers
.main_section {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	padding: 0 10vw;
	align-items: center;
	justify-content: flex-start;
}
.main_container {
	min-width: 100vw;
	min-height: 100vh;
	padding: 0 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.left_bottom,
.image_area,
.logo_area {
	min-width: 100vw;
}

.logo_area,
.mobile_text_area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 35vh;
}
.left_bottom {
	display: flex;
	justify-content: center;
	min-width: 100vw;
	max-height: 50vh;
	.left_bottom_right {
		display: none;
	}
}
.logo_container {
	min-width: 50vw;
}

.image_area {
	display: none;
	// align-items: center;
	// justify-content: flex-end;
}

// Text styling
.title_wrapper {
	width: 100vw;
	min-height: 10vh;
	background-color: red;
	display: flex;
	align-items: center;
}
// Image styling

.main_section {
	flex-direction: column;
}
.image_container {
	position: relative;
	display: block;
	width: fit-content;
	width: 50vw;
	height: 50vw;
	border: 0.75rem #00a85f solid;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
	grid-template-columns: 1fr 1.618fr;
}
.main_image {
	border-radius: 50%;
}

// Media queries and breakpoints

// Medium
@media (min-width: 900px) {
	.title_wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		background-color: #00a85f;
		width: 50vw;
		height: 3rem;
		display: flex;
		align-items: center;
		z-index: 0;
	}
	.logo_area,
	.image_area {
		max-height: 100vh;
	}
	.title_wrapper {
		width: 40rem;
	}
	.logo {
		display: grid;
		grid-template-rows: 1.618fr 1fr;
		.left_bottom {
			display: grid;
			grid-template-columns: 1.618fr 1fr;
			// SVG styling
			.logo_container {
				max-width: 90%;
				.logo {
					width: 100%;
				}
			}
			.left_bottom_right {
				display: flex;
			}
		}
	}
}

// Small
@media (min-width: 600px) {
}
